// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sht-title input{
border-bottom: none;
border-radius: 4px 4px 0 0;
}

.sht-text textarea{
border-radius: 0 0 4px 4px;
}

.sht-lang,
.sht-publ,
.sht-btn {
  display: inline-block;
}

.sht-btn {
  float: right;
}
.sht-lang {
  margin-right: 20px;
}
